<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
  <meta charset="UTF-8" />
  <title>안아줘요</title>
    <th:block th:fragment="head">
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
      ></script>
    </th:block>
  </head>
  <body>
    <th:block th:fragment="header">
      <script th:inline="javascript">
        let msg = /*[[${alertMsg}]]*/ "";
        if (msg != null && msg != "") {
          alert(msg);
        }
      </script>
    </th:block>
  </body>
</html>
