<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<th:block th:replace="~{/common/fragment :: library}"></th:block>
<meta charset="UTF-8" />
<title>저 바다 너머</title>
</head>
<body>
<th:block th:replace="~{/common/fragment :: header}"></th:block>

	첫 시안은 YAMI가 되었습니다. 숭고한 희생...
	<br>

	<div id="serverIpDiv">
		<button id="getIpBtn">서버 내부 IP 가져오기</button>
	</div>

	<hr>
	perplexity 써먹기
	<form th:action="@{/ai/search}" method="post">
		입력해요 : <input type="text" name="content" required /> <br />
		<button type="submit">DORO!!</button>
	</form>

	<hr>
	

	<th:block th:if="${loginUser}">
		<th:block th:text="${loginUser.userName ?: '누구세요?' }"></th:block>님 딱히 환영하진 않습니다.
	</th:block>
	<th:block th:unless="${loginUser}">
		<a th:href="@{/member/enroll}">회원가입</a>
		<br>
		<form th:action="@{/member/login}" method="post">
			아이디 : <input type="text" name="userId" required /> <br />
			비밀번호 : <input type="password" name="userPwd" required />
			<button type="submit" id="loginFormSubmit">DORO!!</button>
		</form>
	</th:block>


	<hr>
	<a th:href="@{/videoCall/vcMain}">영상통화</a>
	<hr>
	<a th:href="@{/screenShare/ssMain}">화면공유</a>


<script th:inline="javascript">
$(document).ready(function(){
	
	//내부 ip주소 알아보기
    $('#getIpBtn').click(function(){
        $.ajax({
            url : /*[[@{/findServerPrivateIP}]]*/ '내부ip',
            method : "post",
            data : {},
            success : function(result){
                $('#serverIpDiv').text('서버 내부 ip주소 : ' + result);
            },
            error : function(){
                console.log('통신 실패');
            }
        });
    });
	
	
	//로그인
    $('#loginFormSubmit').click(function(e){
    	e.preventDefault();
        var userId = $('input[name="userId"]').val();
        var userPwd = $('input[name="userPwd"]').val();
        $.ajax({
        	url: /*[[@{/member/login}]]*/ '로그인',
            method : "POST",
            data : {userId, userPwd},
            success : function(result){
            	location.reload();
            },
            error : function(){
                console.log('통신 실패');
            }
        });
    });
	
});

</script>

</body>
</html>
